## 문제 4: 범주형 데이터 인코딩

범주형 데이터(Categorical Data)는 문자열 형태로 표현되는 데이터를 의미합니다.

머신러닝 알고리즘은 문자열 데이터를 바로 사용할 수 없기 때문에 숫자 형태로 변환해야 합니다.

범주형 데이터를 숫자 형태로 변환하는 방법에는 여러 가지가 있습니다.

대표적인 방법으로 Label Encoding과 One-Hot Encoding이 있습니다.

Label Encoding은 각 범주(Category)를 숫자로 매핑하는 방식입니다.

One-Hot Encoding은 각 범주를 이진 벡터로 표현하는 방식입니다.

## 데이터셋 다운로드

Kaggle의 "Adult Income" 데이터셋을 사용하여 범주형 데이터를 인코딩하세요.

workclass, education, marital-status, occupation, relationship, race, gender, native-country 열을 Label Encoding으로 변환하세요.

Kaggle Adult Income 데이터셋 링크: https://www.kaggle.com/wenruliu/adult-income-dataset

Kaggle Adult Income 데이터셋 링크로 이동 -> Data 탭 -> adult.csv 다운로드 -> adult.csv 파일을 작업 디렉터리에 저장

데이터셋을 불러온 후, 범주형 데이터를 인코딩하는 코드를 작성하세요.

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df = pd.read_csv('adult.csv')
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [6]:
df['workclass']

0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: workclass, Length: 48842, dtype: object

In [8]:
# workclass, education, marital-status, occupation, relationship, race, gender, native-country 열을 Label Encoding으로 변환
Encoding_list = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']
label_encoder = LabelEncoder()
for encoded in Encoding_list:
    df[encoded] = label_encoder.fit_transform(df[encoded])
    print(f'{encoded} : ', df[encoded])

workclass :  0        4
1        4
2        2
3        4
4        0
        ..
48837    4
48838    4
48839    4
48840    4
48841    5
Name: workclass, Length: 48842, dtype: int64
education :  0         1
1        11
2         7
3        15
4        15
         ..
48837     7
48838    11
48839    11
48840    11
48841    11
Name: education, Length: 48842, dtype: int64
marital-status :  0        4
1        2
2        2
3        2
4        4
        ..
48837    2
48838    2
48839    6
48840    4
48841    2
Name: marital-status, Length: 48842, dtype: int64
occupation :  0         7
1         5
2        11
3         7
4         0
         ..
48837    13
48838     7
48839     1
48840     1
48841     4
Name: occupation, Length: 48842, dtype: int64
relationship :  0        3
1        0
2        0
3        0
4        3
        ..
48837    5
48838    0
48839    4
48840    3
48841    5
Name: relationship, Length: 48842, dtype: int64
race :  0        2
1        4
2        4
3        2
4        4
        ..
48837    4
48838    4
48839    4
48840    4
48841    4
Name: race, Length: 48842, dtype: int64
gender :  0        1
1        1
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    1
48841    0
Name: gender, Length: 48842, dtype: int64
native-country :  0        39
1        39
2        39
3        39
4        39
         ..
48837    39
48838    39
48839    39
48840    39
48841    39
Name: native-country, Length: 48842, dtype: int64