## 문제 5: 데이터 스케일링

데이터 스케일링은 데이터의 범위를 조정하는 작업을 의미합니다.

데이터 스케일링을 통해 데이터의 분포를 조정하고, 모델의 성능을 향상시킬 수 있습니다.

대표적인 데이터 스케일링 방법으로는 StandardScaler, MinMaxScaler, RobustScaler 등이 있습니다.

이번 문제에서는 StandardScaler를 사용하여 데이터를 표준화하는 방법을 실습합니다.

## 데이터셋 다운로드

Kaggle Wine Quality 
데이터셋 링크: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009

Kaggle Wine Quality 데이터셋 링크로 이동 -> Data 탭 -> winequality-red.csv 다운로드 -> winequality-red.csv 파일을 작업 디렉터리에 저장

## 문제

Kaggle의 "Wine Quality" 데이터셋을 사용하여 데이터를 스케일링하세요.

fixed acidity, volatile acidity, citric acid, residual sugar, chlorides 열의 값을 StandardScaler로 표준화하세요.

표준화된 결과를 출력하세요.

데이터셋을 불러온 후, 데이터 스케일링을 수행하는 코드를 작성하세요.

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [5]:
Wine_df = pd.read_csv('winequality-red.csv')
print(Wine_df.columns)

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [8]:
print(Wine_df['volatile acidity'].describe())

count    1599.000000
mean        0.527821
std         0.179060
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64

In [30]:
#fixed acidity, volatile acidity, citric acid, residual sugar, chlorides 열의 값을 표준화
scaler_list = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides']
scaler_df = pd.DataFrame()
standard_scaler = StandardScaler()
for scaler in scaler_list:
    scaler_df[scaler] = standard_scaler.fit_transform(Wine_df[[scaler]]).flatten()
    #pd.concat(scaler_df, standard_scaler.fit_transform(Wine_df[[scaler]]))
scaler_df

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides
0         -0.528360          0.961877    -1.391472       -0.453218  -0.243707
1         -0.298547          1.967442    -1.391472        0.043416   0.223875
2         -0.298547          1.297065    -1.186070       -0.169427   0.096353
3          1.654856         -1.384443     1.484154       -0.453218  -0.264960
4         -0.528360          0.961877    -1.391472       -0.453218  -0.243707
...             ...               ...          ...             ...        ...
1594      -1.217796          0.403229    -0.980669       -0.382271   0.053845
1595      -1.390155          0.123905    -0.877968       -0.240375  -0.541259
1596      -1.160343         -0.099554    -0.723916       -0.169427  -0.243707
1597      -1.390155          0.654620    -0.775267       -0.382271  -0.264960
1598      -1.332702         -1.216849     1.021999        0.752894  -0.434990

[1599 rows x 5 columns]

In [29]:

print(scaler_df)

Empty DataFrame
Columns: []
Index: []