## 문제 2: 중복 데이터 제거

중복 데이터(Duplicate Data)는 데이터 분석 과정에서 중요한 이슈 중 하나입니다.

데이터셋에 중복된 데이터가 포함되어 있는 경우, 분석 결과가 왜곡될 수 있습니다.

따라서 중복 데이터를 식별하고 제거하는 작업은 데이터 전처리 과정에서 중요한 단계입니다.

이번 문제에서는 중복 데이터를 제거하는 방법을 실습합니다.

임의의 데이터셋을 사용하여 중복 데이터를 제거하는 작업을 수행하세요.

다음은 인공지능 수업에서 사용할 전처리 문제입니다.

중복 데이터를 포함하는 생성된 파일 데이터셋을 사용하여 중복 데이터를 제거하는 작업을 수행하세요.

## 문제 요구 사항

sales.csv 파일을 불러옵니다. 이 파일에는 중복된 행이 일부 포함되어 있습니다.

중복된 데이터의 개수를 출력하세요.

중복된 행을 모두 제거한 후, 남은 데이터의 개수를 확인하세요.

In [1]:
import pandas as pd

# 1. 가짜 데이터 생성
data = {
    'ProductID': [101, 102, 103, 104, 101, 102, 103, 105, 106, 101],
    'ProductName': ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'E', 'F', 'A'],
    'Price': [100, 200, 300, 400, 100, 200, 300, 500, 600, 100],
    'Quantity': [1, 2, 3, 4, 1, 2, 3, 5, 6, 1]
}

# 2. DataFrame 생성
df = pd.DataFrame(data)

# 3. 중복된 데이터를 일부 추가 (중복된 행 4개 추가)
df.loc[len(df.index)] = [101, 'A', 100, 1]  # 중복 행 추가
df.loc[len(df.index)] = [102, 'B', 200, 2]  # 중복 행 추가
df.loc[len(df.index)] = [103, 'C', 300, 3]  # 중복 행 추가
df.loc[len(df.index)] = [104, 'D', 400, 4]  # 중복 행 추가

# 4. CSV 파일로 내보내기
df.to_csv('sales.csv', index=False)

print("sales.csv 파일이 생성되었습니다.")

sales.csv 파일이 생성되었습니다.

In [3]:
import pandas as pd
# 파일 불러온 후 중복된 데이터 개수 확인
df = pd.read_csv('sales.csv')
print('중복된 데이터 개수 :', df.duplicated().sum())

중복된 데이터 개수 : 8

In [4]:
# 중복된 데이터 삭제
no_dupl_df = df.drop_duplicates()
no_dupl_df

   ProductID ProductName  Price  Quantity
0        101           A    100         1
1        102           B    200         2
2        103           C    300         3
3        104           D    400         4
7        105           E    500         5
8        106           F    600         6

In [10]:
# 데이터 개수 확인
print('남아있는 데이터 개수 : ', no_dupl_df.count().sum())
print('중복된 데이터 개수 :', no_dupl_df.duplicated().sum())

남아있는 데이터 개수 :  24
중복된 데이터 개수 : 0