In [ ]:
"""
컴파일과 인터프리터의 차이로 볼 수도 있다.

파이썬에서는 변수 하나의 메모리 공간이 제한적이지 않는건가요?
-> 그렇다 파이썬은 변수에 값을 저장하는게 아닌 각 객체의 주소값을 넣어 참조하도록 한다.

파이썬은 각 기능 (예를 들어 리스트면 리스트, 정수면 정수 등등) 객체가 저장된 메모리 주소를 참조한다라고 이해하면 될까요?
-> 그렇다 파이썬은 자료형들을 객체로 관리한다. 각 자료형에 해당하는 값이 있다면 그 값을 해당하는 자료형의 객체의 주소에 값으로 두고
   사용하며 다른 곳에서는 이 주소를 할당하여 참조하도록 한다.

문자열을 시퀀스라고 하기도 한다.
"""
print(1234)

1234

In [5]:
print("Hello World!!")

Hello World!!

In [20]:
a = "a"
b = 1

In [23]:
type(a)

str

In [24]:
id(b)

140725161165736

In [25]:
b = a

In [28]:
print(id(a))
print(id(b))

140725161230304
140725161230304

In [32]:
print(7%3)
print(7/3)
print(7//3)
print(7**3)

1
2.3333333333333335
2
343

In [39]:
'안녕하세요 저는 {}입니다.대학교 {}학년 입니다.'.format('최원진',4)
'안녕하세요 저는 {name}입니다.대학교 {num}학년 입니다.'.format(name='최원진',num= 4)

'안녕하세요 저는 최원진입니다.대학교 4학년 입니다.'

In [8]:
name = "최원진"
num = 4

student = {
    'name' : '홍정민',
    'num' : 3
}

print('안녕하세요 저는 {0}입니다.대학교 {1}학년 입니다.'.format(student['name'], student['num'], 11))

안녕하세요 저는 홍정민입니다.대학교 3학년 입니다.

In [68]:
student = {
    'name' : '최원진',
    'class' : 4,
    'math' : 80,
    'korean' : 40,
    'english' : 20,
}


print(f"{student['name']}님의 과목별 총합은 {student['english']+student['korean']+student['math']}입니다.")
print(f"{student['name']}님의 과목별 평균은 {(student['english']+student['korean']+student['math'])//3}입니다.")

최원진님의 과목별 총합은 140입니다.
최원진님의 과목별 평균은 46입니다.

In [50]:
subject = "과학"
subject[-1]

'학'

In [52]:
y = 20
list_a = [10, 20, 30, 40, 50]

y in list_a

True

In [59]:
# 같은 객체 찾기 => is : 메모리의 주소값을 비교
# 주소와 같이 변하지 않는 값들을 리터럴 상수라고 한다.
x = 10
y = 10
x is y

True

In [69]:
gender = "male"
age = 18

gender == 'male' and age >= 18

True

In [84]:
# list : 저장 순서를 가진다
# index 값으로 요소들의 접근/참조 할 수 있다.
list_a = [1, 2, 3, 4, 5]
list_b = [1,2,3]
type(list_a)
id(list_a)

2191393823936

In [90]:
#리스트 객체를 이용하는 메서드
# append : 데이터 추가  
list_a = [1,2,3]
list_a.append("apt")
list_a

[1, 2, 3, 'apt']

In [97]:
'name' in student

True

In [101]:
# set : 집합 => 중복 X, 순서 X, 집합연산
s_1 = set([3, 2, 3, 4, 1, 2, 5])
s_1

{1, 2, 3, 4, 5}

In [100]:
s_2 = set('hello')
s_2

{'e', 'h', 'l', 'o'}

In [107]:
s_3 = set([1, 2, 3, 4, 5, 6])
s_4 = set([4, 5, 6, 7, 8, 9])
s_3 | s_4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [109]:
age = 20
if age>19 :
    print("환영띠~")
else :
    print("꺼져")

환영띠~

In [119]:
num = int(input("숫자를 입력해주세요 : "))

if num%2 == 0:
    print("짝수입니다.")
elif num %2 != 0:
    print("홀수입니다.")
else :
    print("뭘까?")

짝수입니다.

In [127]:
age = 64

if age < 15 or age >= 65:
    print("무료 예방 접종 가능 대상이십니다.")
else :
    print("무료 대상자가 아닙니다")

무료 대상자가 아닙니다

In [9]:
# tuple은 데이터를 db 등에서 안전하게 가져오는 상황에서 쓴다.
score = 90
check_msg = '정상인' if score > 90 else "미달"
print(check_msg)

미달

In [134]:
cnt = 0
while True :
    cnt+= 1
    if cnt%2 == 0 :
        continue
    if cnt > 10 :
        break
    print(cnt)

1
3
5
7
9

In [143]:
scores = [80, 50, 40, 100, 60]

num = 0
sum = 0
for score in scores:
    num += 1
    sum += int(score)
    if score >= 60:
        print(f"{num}번 학생 PASS")
    else :
        print(f"{num}번 학생 FAIL")

print(f"점수 총합 {sum} 평균 {sum/len(scores)}")

1번 학생 PASS
2번 학생 FAIL
3번 학생 FAIL
4번 학생 PASS
5번 학생 PASS
점수 총합 330 평균 66.0

In [151]:
for num in range (1, 10) :
    print(f"\n구구단 {num}단", end="\n")
    for num1 in range (1, 10):
        print(f"{num} x {num1} = {num*num1}", end=" ")

구구단 1단
1 x 1 = 1 1 x 2 = 2 1 x 3 = 3 1 x 4 = 4 1 x 5 = 5 1 x 6 = 6 1 x 7 = 7 1 x 8 = 8 1 x 9 = 9
구구단 2단
2 x 1 = 2 2 x 2 = 4 2 x 3 = 6 2 x 4 = 8 2 x 5 = 10 2 x 6 = 12 2 x 7 = 14 2 x 8 = 16 2 x 9 = 18
구구단 3단
3 x 1 = 3 3 x 2 = 6 3 x 3 = 9 3 x 4 = 12 3 x 5 = 15 3 x 6 = 18 3 x 7 = 21 3 x 8 = 24 3 x 9 = 27
구구단 4단
4 x 1 = 4 4 x 2 = 8 4 x 3 = 12 4 x 4 = 16 4 x 5 = 20 4 x 6 = 24 4 x 7 = 28 4 x 8 = 32 4 x 9 = 36
구구단 5단
5 x 1 = 5 5 x 2 = 10 5 x 3 = 15 5 x 4 = 20 5 x 5 = 25 5 x 6 = 30 5 x 7 = 35 5 x 8 = 40 5 x 9 = 45
구구단 6단
6 x 1 = 6 6 x 2 = 12 6 x 3 = 18 6 x 4 = 24 6 x 5 = 30 6 x 6 = 36 6 x 7 = 42 6 x 8 = 48 6 x 9 = 54
구구단 7단
7 x 1 = 7 7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63
구구단 8단
8 x 1 = 8 8 x 2 = 16 8 x 3 = 24 8 x 4 = 32 8 x 5 = 40 8 x 6 = 48 8 x 7 = 56 8 x 8 = 64 8 x 9 = 72
구구단 9단
9 x 1 = 9 9 x 2 = 18 9 x 3 = 27 9 x 4 = 36 9 x 5 = 45 9 x 6 = 54 9 x 7 = 63 9 x 8 = 72 9 x 9 = 81

In [158]:
this_year = int(input("올해 연도를 적어주세요"))
year = int(input("태어난 년도를 적어주세요"))
age = this_year - year

if age >= 20:
    print("2년 이내 건강검진 기록이 없으시다면 무료입니다.")
else:
    print("건강검진 무료 대상자가 아니십니다.")
if (year % 2) == 0 & (this_year % 2) == 0:
    print("건강검진 검사 대상이십니다.")
else:
    print("건강검진 대상자가 아니십니다.")

if age >= 40:
    print("암 검사도 무료로 가능하십니다.")
else:
    print("암 검사 무료 대상자가 아니십니다.")

2년 이내 건강검진 기록이 없으시다면 무료입니다.
건강검진 검사 대상이십니다.
암 검사도 무료로 가능하십니다.

In [160]:
def add(n1, n2):
    result = n1 +n2
    return result

In [167]:
# 매개변수가 없는 함수의 정의
def alert_msg():
    return "안녕하세요. 문제가 발생했습니다."

print(alert_msg())

안녕하세요. 문제가 발생했습니다.

In [171]:
def add_print(n1, n2):
    print(f'{n1}+{n2}={n1+n2}')

add_print(100, 200)

100+200=300

In [173]:
result_add_print = add_print(1,2)

1+2=3

In [177]:
def add_sum(*args):
    print(type(args))
    print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

add_sum(1, 2, 3, 4)

<class 'tuple'>
(1, 2, 3, 4)

10

In [179]:
print(1, 2, 3, 4, 5, 6, 7, 8, sep=':')

1:2:3:4:5:6:7:8

In [184]:
def add_type(type, *args):
    if type == 'add':
        result = 0
        for num in args:
            result = result + num
        return result
    elif type == 'mul':
        result = 1
        for num in args:
            result *= num
        return result
    else:
        return '사용가능한 타입을 선택해주세요'

In [185]:
add_type('mul', 1, 2, 3, 4)

24

In [ ]:
def add_type2(*args, type):
    pass
# *매개변수 를 사용할 때에는 무조건 마지막에 넣어야 한다
# 다수의 변수를 받기 때문에 뒤에 정의된 매개변수들에 변수 할당이 안되기 때문이다.

SyntaxError: expected ':' (1949129572.py, line 1)

In [ ]:
# 여러 매개변수를 받을 때 딕셔너리로 받고 싶다면?
def print_args(**args):
    print(args)
    return args
a = print_args(name='손흥민', kor=90, eng=10)

{'name': '손흥민', 'kor': 90, 'eng': 10}

In [ ]:
# 함수의 초기값 처리
def add2(n1=0, n2=0):
    return n1+n2

add2(1)

1

In [206]:
def say_hi(name, age, gender=True): # True => 여성
    print(f'안녕하세요. {name}입니다. 나이는 {age}살 입니다.')
    if gender:
        print("여자입니다.")
    else:
        print("남자입니다.")

In [207]:
say_hi('홍길동', 20, False)

안녕하세요. 홍길동입니다. 나이는 20살 입니다.
남자입니다.

In [ ]:
# 기존에 알던거 이외에 생소한 문법들
# 1. if문 / 조건부 표현식 / 예) message = "success" if score >= 60 else "failure"
# 2. range 함수는 지정된 수 만큼 숫자를 생성해주는 함수 많이 쓰일 거 같음
## 3. 리스트 컴프리헨션 : 리스트[] 안에 for문을 포함시키는 문법 / if조건 사용 가능

In [213]:
#파일에 라인추가
f = open('new_text.txt', 'w')
for i in range(0, 21):
    f.write(f'{i}번째 라인 추가 ...\n')

f.close()

In [214]:
# with : file 처리시 close() 생략
with open('new_text.txt', 'r') as file:
    lines = file.readlines()
    print(lines)

['0번째 라인 추가 ...\n', '1번째 라인 추가 ...\n', '2번째 라인 추가 ...\n', '3번째 라인 추가 ...\n', '4번째 라인 추가 ...\n', '5번째 라인 추가 ...\n', '6번째 라인 추가 ...\n', '7번째 라인 추가 ...\n', '8번째 라인 추가 ...\n', '9번째 라인 추가 ...\n', '10번째 라인 추가 ...\n', '11번째 라인 추가 ...\n', '12번째 라인 추가 ...\n', '13번째 라인 추가 ...\n', '14번째 라인 추가 ...\n', '15번째 라인 추가 ...\n', '16번째 라인 추가 ...\n', '17번째 라인 추가 ...\n', '18번째 라인 추가 ...\n', '19번째 라인 추가 ...\n', '20번째 라인 추가 ...\n']

In [227]:
#예외처리 : 에러발생 시 비정상적인 종료를 막기위한 처리
# try : 에러 발생이 예상되는 코드블럭 except : 에러가 발생했을 때 처리하는 블럭
list_2 = [1,2,3]
try:
    print(list_2[2])
    usr_name
    print(10/0)
except ZeroDivisionError:
    print("0으로는 못나눠~")
except NameError as e:
    print(e)
    print("변수할당 제대로해~")
except :
    print("문제 발생~")

print('프로그램 종료')

3
name 'usr_name' is not defined
변수할당 제대로해~
프로그램 종료

In [ ]:
try:
    s
    print('Hello')
except :
    print("error!")
finally:
    print("!!!!!!!")

error!
!!!!!!!

In [236]:
#try ~ else
try :
    age = int(input('나이를 입력하세요!')) # ten
except :
    print('숫자 형식으로 입력해야 합니다.')
else:
    if age > 19 :
        print('성인')
    else :
        print('청소년')

숫자 형식으로 입력해야 합니다.

In [11]:
# 1부터 시작해서 모든 짝수와 3의 배수를 더해서 그 합이 언제 1000이 넘어서는지,
# 그리고 1000이 넘어선 값은 얼마가 되는지 계산하여 출력
num = 0
sum = 0
while True:
    num+=1
    if num%2==0 or num%3==0:
        sum+=num
        print(f"현재 {sum}입니다.")
        if sum >= 1000:
            print(f"{num}번째에 1000을 넘었습니다. 현재 {sum}입니다.")
            break
    else:
        continue

현재 2입니다.
현재 5입니다.
현재 9입니다.
현재 15입니다.
현재 23입니다.
현재 32입니다.
현재 42입니다.
현재 54입니다.
현재 68입니다.
현재 83입니다.
현재 99입니다.
현재 117입니다.
현재 137입니다.
현재 158입니다.
현재 180입니다.
현재 204입니다.
현재 230입니다.
현재 257입니다.
현재 285입니다.
현재 315입니다.
현재 347입니다.
현재 380입니다.
현재 414입니다.
현재 450입니다.
현재 488입니다.
현재 527입니다.
현재 567입니다.
현재 609입니다.
현재 653입니다.
현재 698입니다.
현재 744입니다.
현재 792입니다.
현재 842입니다.
현재 893입니다.
현재 945입니다.
현재 999입니다.
현재 1055입니다.
56번째에 1000을 넘었습니다. 현재 1055입니다.

In [15]:
#대충 elif 테스트트
n =3
if n == 3:
    print("good")
    n+=1
    print(n)
elif n == 4:
    print("bed")
else:
    print("!!")

good
4

In [5]:
class Cookie():
    pass

c1 = Cookie()

print(id(c1), type(c1))

2595354691632 <class '__main__.Cookie'>

In [12]:
class FourCal1:
    def add(self, num1, num2):
        return num1 + num2
    @staticmethod
    def min(num1, num2):
        return num1-num2
    def mul(num1, num2):
        return num1*num2
    def sum(num1, num2):
        return num1/num2
    

cal1 = FourCal1()

In [13]:
print(cal1.min(1,3))

-2

In [14]:
class FourCal():
    def setdata(self, first, second):
        self.first = first
        self.second = second

    def add(self):
        return self.first + self.second

In [36]:
class FourCalc:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    
    def add(self):
        return self.first + self.second
    
cal2 = FourCalc(1,3)
print(cal2.add())

4

In [18]:
# 시간 표현 : 지금 몇시야? 11시41분 20초
hour = 11
time_minute = 41
time_s = 20

time_hs = [11, 12, 16, 17]
time_ms = [41, 30, 21, 50]
time_ss = [20, 40, 14, 21]

In [ ]:
time_1 = {
    'hour' : 11,
    'minute' : 41,
    'second' : 20,
}

In [24]:
class ReservTime:
    def __init__(self, h, m, s):
        self.hour = h
        self.min = m
        self.sec = s
    
    def print_time(self):
        print(f'예약시간은 {self.hour}{self.min}{self.sec}')

In [26]:
time_2 = ReservTime(10, 20, 10)

time_2.print_time()

예약시간은 102010

In [27]:
time_3 = ReservTime(12, 30, 15)

time_3.print_time()

예약시간은 123015

In [29]:
res_times = [ReservTime(10, 11, 12), ReservTime(12, 30, 22)]

type(res_times)

list

In [35]:
for idx, time in enumerate(res_times, start=1):
    print(f'{idx} 번 예약 : ', end='')
    time.print_time()

1 번 예약 : 예약시간은 101112
2 번 예약 : 예약시간은 123022

In [41]:
# 클래스의 상속 : 새로운 클래스를 생성하는 방법 중 하나
# class 이름 (부모클래스)

class MoreFourCal(FourCalc):
    
    def pow(self):
        return self.first**self.second
    
    def div(self):
        if self.second == 0 :
            return 0
        else :
            return self.first/self.second

mo = MoreFourCal(0,3)
print(mo.div())

0.0

In [53]:
'''
핚생들의 이름과 국어, 영어, 수학 점수를 저장하는 클래스를 생성하고
학생들 점수의 총점과 평균을 구하는 기능을 추가하고
학생들의 점수를 출력하는 프로그램을 만들어봅시다.
학생들의 데이터는 5개로 하고 리스트에 저장해 봅시다.
'''
class Student:

    def __init__(self, n, k, e, m):
        self.name = n
        self.korean = k
        self.english = e
        self.math = m
    
    def sum(self):
        return self.korean+self.english+self.math
    
    def average(self):
        return self.sum()//3
    
    def print_score(self):
        print(f'{self.name}')

stu_list = [Student("홍길동", 80, 10, 30),Student("학생2", 100, 50, 70),
            Student("학생3", 40, 50, 30), Student("학생4", 80, 100, 40),
            Student("최원진", 30, 50, 90),
            ]

In [54]:
for stu in stu_list:
    print(f"{stu.name} 학생의 총점은 {stu.sum()} 이며 평균은 {stu.average()} 입니다.")

홍길동 학생의 총점은 120 이며 평균은 40 입니다.
학생2 학생의 총점은 220 이며 평균은 73 입니다.
학생3 학생의 총점은 120 이며 평균은 40 입니다.
학생4 학생의 총점은 220 이며 평균은 73 입니다.
최원진 학생의 총점은 170 이며 평균은 56 입니다.

In [63]:
# 쥬피터 노트북에서는 다른 파이썬 모듈의 함수들을 인식할 수 없는듯 하다.
import mod1
mod = mod1
mod1.PI

AttributeError: module 'mod1' has no attribute 'PI'